name: Test Tap

on:
  pull_request: {}
  push:
    branches: [main]

env:
  FORCE_COLOR: "1"
  # renovate: datasource=pypi depName=prek
  PREK_VERSION: 0.3.0
  # renovate: datasource=pypi depName=uv
  UV_VERSION: 0.9.27
  # renovate: datasource=pypi depName=tox
  TOX_VERSION: 4.34.1
  # renovate: datasource=pypi depName=tox-uv
  TOX_UV_VERSION: 1.29.0

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix:
        python-version:
        - "3.12"
        - "3.13"
        - "3.14"

    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true

    - name: Install uv
      uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      with:
        version: ${{ env.UV_VERSION }}

    - name: Install Tox
      run: |
        uv tool install --with tox-uv==${{ env.TOX_UV_VERSION }} --with tox==${{ env.TOX_VERSION }} tox
        tox --version

    - name: Run Tox
      env:
        TAP_MAILCHIMP_API_KEY: ${{ secrets.TAP_MAILCHIMP_API_KEY }}
        TAP_MAILCHIMP_SERVER: ${{ secrets.TAP_MAILCHIMP_SERVER }}
        TAP_MAILCHIMP_LIST_ID: ${{ secrets.TAP_MAILCHIMP_LIST_ID }}
      run: |
        tox -e ${{ matrix.python-version }}

  typing:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Set up Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0

    - name: Install uv
      uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      with:
        version: ${{ env.UV_VERSION }}

    - name: Install Tox
      run: |
        uv tool install --with tox-uv==${{ env.TOX_UV_VERSION }} --with tox==${{ env.TOX_VERSION }} tox
        tox --version

    - name: Run Tox
      run: |
        tox -e typing

  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Set up Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0

    - name: Install uv
      uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
      with:
        version: ${{ env.UV_VERSION }}

    - run: >
        uvx
        --with prek==${{ env.PREK_VERSION }}
        prek run --show-diff-on-failure --all-files
